## 문제 설명
### 길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요. 예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.

## 제한 조건
### n은 길이 10,000이하인 자연수입니다.
### 입출력 예
#### n	return
#### 3	"수박수"
#### 4	"수박수박"

## 내가 푼 풀이

In [1]:
def solution(n):
    answer = ''
    a = '수'
    b = '박'    
    for i in range(n) :
        if (i+1) % 2 == 1 :
            answer += a
        else :
            answer += b
    
    return answer

print(solution(3))

수박수

## 다른 사람 풀이

In [3]:
def water_melon(n):
    s = "수박" * n
    return s[:n]


# 실행을 위한 테스트코드입니다.
print("n이 1인 경우: " + water_melon(1));
print("n이 4인 경우: " + water_melon(4));

n이 1인 경우: 수
n이 4인 경우: 수박수박

In [4]:
def water_melon(n):
    return "수박"*(n//2) + "수"*(n%2)


# 실행을 위한 테스트코드입니다.
print("n이 3인 경우: " + water_melon(3));
print("n이 4인 경우: " + water_melon(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박